<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar Inventario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Cargar Archivo de Inventario</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="inventario_file" accept=".xlsx">
        <button type="submit">Procesar</button>
    </form>
</body>
</html>